# API Configuration
# Esta é a URL base da API que será usada durante o build
# Para produção, use: http://142.93.116.237:8001/api/v1
VITE_API_BASE_URL=http://127.0.0.1:8001/api/v1

# Node environment
NODE_ENV=production
